<html ng-app="MyAngApp">
<head>
    <title></title>
</head>
<body>
    <input type="text" ng-model="message" /> <br />
    <h1>{{message}}</h1>


    <script src="~/Scripts/angular.js"></script>
    <script src="~/ngApp/app.js"></script>
</body>
</html>